.button {
  width: $width-mobile;
  height: 56px;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 27px;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
  background-color: $color-white;
  border: none;
  border-radius: $border-radius;
  margin-bottom: 48px;
  box-sizing: border-box;
  max-width: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
  }

  &:active {
    box-shadow: $box-shadow;
  }

  @include on-tablet {
    width: $width-tablet;
  }

  @include on-desktop {
    width: $width-desktop;
  }
}
