.contact {
  margin: 0;

  &__wrapper {
    @include page-grid;
  }
  &__forms {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;

    @include on-tablet {
      grid-column: 1 / 2;
      justify-items: start;
    }

    @include on-desktop {
      grid-column: 1 / 5;
      justify-items: start;
    }
  }
  &__input {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;

    width: 278px;
    height: $height-input;
    border-radius: $border-radius;
    max-width: 100%;
    box-sizing: border-box;

    @include entry;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }

    &::placeholder {
      color: $color-dark-gray;
    }

    &:hover {
      border: 1px solid $color-dark-gray;
      color: $color-dark-gray;
      outline: none;

      &::placeholder {
        color: $color-dark-gray;
      }
    }

    &:focus {
      border: 1px solid $color-dark-gray;
      color: $color-dark-gray;
      outline: none;

      &::placeholder {
        color: $color-dark-gray;
      }
    }
  }
  &__textarea {
    resize: none;
    background: $background-color-white;
    padding: 14px 16px;
    min-height: 148px;
    border: none;
    width: 278px;

    border-radius: 16px;
    margin-bottom: 32px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    line-height: $line-height-normal;
    max-width: 100%;
    box-sizing: border-box;

    @include entry;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }

    &::placeholder {
      color: $color-gray;
    }

    &:focus {
      border: 1px solid $color-dark-gray;
      color: $color-dark-gray;
      outline: none;

      &::placeholder {
        color: $color-dark-gray;
      }
    }
  }
  &__info {
    width: 155px;
    grid-column: 1 / 2;

    @include on-tablet {
      grid-column: 4 / 5;
    }

    @include on-desktop {
      grid-column: 9 / 10;
    }
  }
  &__info__link {
    text-decoration: none;
    color: $color-white;
    font-weight: $font-weight-medium;
    font-size: $font-size-semi-small;

    &:hover {
      text-decoration: underline;
      color: $color-hover-light;
    }
  }
}
