.contact {
  margin: 0;

  &__wrapper {
    @include page-grid;
  }
  &__forms {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 2;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }
  }
  &__input {
    padding-left: 16px;
    margin-bottom: 16px;

    width: $width-mobile;
    height: $height-input;
    border-radius: $border-radius;

    @include entry;

    @include on-tablet {
      width: $width-tablet;
    }

    @include on-desktop {
      width: $width-desktop;
    }

    &::placeholder {
      color: #292929;
    }
  }
  &__textarea {
    resize: none;
    background: $background-color-white;
    padding: 14px 16px;
    min-height: 148px;
    border: none;
    width: 280px;

    border-radius: 16px;
    margin-bottom: 32px;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: $font-size-regular;
    line-height: $line-height-normal;

    @include entry;

    @include on-tablet {
      width: 300px;
    }

    @include on-desktop {
      width: 412px;
    }
  }

  &::placeholder {
      color: #292929;
    }

  &:focus {
    border: 1px solid #292929;
    color: #292929;
    outline: none;

    &::placeholder {
      color: #292929;
    }
  }
  &__info {
    width: 155px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 5;
    }

    @include on-desktop {
      grid-column: 9 / 10;
    }
  }
  &__info__link {
    text-decoration: none;
    color: $color-white;
    font-weight: $font-weight-medium;
    font-size: $font-size-semi-small;
  }
}
