.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }
  &__button {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 2 / -2;
      }

      @include on-desktop {
        grid-column: 5 / 9;
      }
    }
  }


.detail {
  &__photos {
    // transition:
    //   transform 0.3s,
    //   box-shadow 0.3s;

    @include page-grid;

    margin-bottom: 16px;
  }

  // &:hover {
  //   transform: scale(1.05);
  //   box-shadow: 0 4px 24px rgba(0, 0, 0, .15);
  // }
  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.08));
  }

  &__title {
    margin: 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-semi-tablet;
    line-height: $line-height-large;
    padding-bottom: 8px;
  }

  &__description {
    margin: 0;
    font-weight: $font-weight-regular;
    font-size: $font-size-semi-small;
    line-height: $line-height-large;
  }
}
