.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position-x: 88%;


  @include on-tablet {
    background-position: center;
    height: 100%;
  }

  @include on-desktop {
    background-position-y: 37%;
    height: 100%;
  }


  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: $font-weight-bold;
    color: $color-white;
    font-size: $font-size-mobile;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;

    @include on-tablet {
      font-size: $font-size-desktop-small;
    }

    @include on-desktop {
      font-size: $font-size-desktop;
    }
  }

  &__bottom {
    padding-bottom: 66px;

    @include on-tablet {
      padding-bottom: 88px;
    }

    @include on-desktop {
      padding-bottom: 120px;
    }
  }
}
